$border: .3em solid #3ec219;
$borderRed: .3em solid red;

.wrapper{
 padding: 0 1em;
}

header{
  font-size: 1rem;
  margin-bottom: 2em;
}
nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2929;
  padding:.5em;
}
.navLink{
  display: inline-block;
  padding: 1em 2em;
  background-color: #5a965d;
  &:not(:last-child){
    margin-right: 2em;
  }
}

main{
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
}
.content{
  min-height: 40em; // only for instance!
  flex-grow:2;
  margin-right: 2em;
  background-color: #c0c0c0;
  padding: 2em;
}
aside{
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
 > *{
   padding:2em;
   background-color: #c0c0c0;
   flex-grow: 1;
 }
  div:not(:last-child){
    margin-bottom: 2em;
  }
}