.textBlock{
  font-size: 1rem;
  max-width: 50%;
  margin: 0 auto;
  background-color: #fdf5c1;
  padding: 2em;
  border: 5px solid grey;
  > *{
    display: block;
    margin: initial;
    font-family: Arial,sans-serif;
    text-align: center;
  }
  &.large{
    font-size: 1.2rem;
  }
  &.small{
    font-size: .8rem;
  }
}
.title{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
}
.text{
  line-height: 1.3;
}